<div
  class="flex justify-center bg-no-repeat bg-center bg-cover bg-fixed dark:bg-homeTwoBg-dark md:pb-16 w-full"
>
  <div
    class="container grid grid-cols-12 md:gap-10 justify-between lg:pt-[20px]"
  >
    <div class="col-span-12 lg:col-span-4 lg:h-screen lg:sticky top-44">
      <vt-side-panel></vt-side-panel>
    </div>
    <div class="col-span-12 lg:col-span-8">
      <vt-header />
      <router-outlet></router-outlet>
      <vt-nx-welcome></vt-nx-welcome>
    </div>
  </div>
</div>
<vt-template></vt-template>
