<div class="lg:rounded-2xl bg-white dark:bg-[#111111]">
  <div class="pt-12 md:py-12 px-2 sm:px-5 md:px-10 lg:px-14">
    <h2 class="text-3xl font-bold pb-4">Hello 👋👋</h2>
    <p class="pb-3">
      Welcome to my curriculum, where I showcase my expertise and experience in
      the world of front-end development.
    </p>
    <p class="pb-2">
      With 10+ years of experience, I have honed my skills in various
      technologies, including JavaScript frameworks such as React and Angular,
      HTML, and SASS. My strong understanding of modern JavaScript features,
      such as ES6+, async/await, and functional or reactive programming, along
      with my ability to work with other popular front-end frameworks/libraries,
      sets me apart in the industry.
    </p>
    <p class="pb-2">
      Additionally, my expertise in state management libraries like Redux (for
      React), NgRx (for Angular), and my experience with CSS, including CSS
      Grid, Flexbox, demonstrates my comprehensive understanding of front-end
      development. Throughout my career, I have also focused on testing (JEST
      and Cypress), design patterns, TypeScript, browser performance
      optimization, and accessibility, solidifying my ability to deliver
      high-quality and accessible websites and applications.
    </p>
    <p class="pb-2">
      I am confident in my skills and eager to keep working on improving them.
    </p>
    <p class="pt-4">
      Being an active, dynamic, motivated and positive person, I am always
      wanting to learn more and become better at everything, improving my
      capacities and learning new skills.
    </p>
  </div>
</div>
