@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

.profile-picture {
  background-image: url('assets/images/profile_pic.webp');
}

.blog-content {
  p {
    margin: 0 0 1.25rem 0;
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .article-body-image-wrapper {
    margin: 0 0 1.25rem 0;
    img {
      margin: 0 auto;
    }
  }

  .highlight {
    margin: 0 0 1.25rem 0;
    background: #080908;
    color: #f8f8f8;
  }

  pre {
    overflow: hidden
  };
}
